:root {
  --header-color: #ad8b73;
  --background-color: #e3caa5;
  --book-background: #fffbe9;
  --accent-color: #cb6040;
}

body,
html {
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
}

.header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: start;
  justify-content: start;
  gap: 20px;
}

.book-container {
  background-color: var(--book-background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  max-height: 200px;
  min-width: max-content;
  margin: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup {
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;

  min-width: fit-content;
  min-height: fit-content;
  padding: 20px;
  background-color: var(--header-color);
  border: 5px solid var(--accent-color);
  border-radius: 10px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
